<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <style>
      html,
      body {
        background-image: linear-gradient(to bottom, blue 30%, #ddd 10%);
        height: 100%;
        background-repeat: no-repeat;
      }
      .box {
        width: 500px;
      }
      .footer {
        width: 610px;
        padding-left: 60px;
      }
    </style>
  </head>
  <body class="d-flex justify-content-center">
    <div class="box container mx-5 px-4 align-self-center overflow-hidden bg-white rounded-1">
      <h1 class="py-4 text-center">Welcome!</h1>
      <p>We're excited to have you get started. First, you need to confirm your account. Just press the button below.</p>
      <div class="buttonDiv d-flex justify-content-center py-4">
        <button type="button" class="btn btn-primary rounded-0">Confim Account</button>
      </div>
      <p class="py-3">If you have any questions, just reply to this email-we're always happy to help out</p>
      <p class="pb-4">The Contoso Team</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
